{{ define "base" }}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>

  <meta property="og:site_name" content="MI_RI"/>
  <meta property="og:title" content="MI_RI"/>
  <meta property="og:description" content="User information storage"/>
  <meta property="og:type" content="website"/>

  <title>MI_RI</title>
</head>
<body>
<header role="banner">
  {{ block "header" . }}<h1>MI_RI</h1>{{ end }}
</header>

<main>
  {{ block "content" . }}{{ . }}{{ end }}
</main>

<footer>
  <p class="copyright">
    Copyright &copy; 2018 Miguel Angel Rivera Notararigo
  </p>
</footer>
</body>
</html>
{{ end }}
