{{ block "content" . }}
<div>
  <form method="POST">
    <input type="email" name="email" placeholder="Email"/><br/>
    <input type="password" name="password" placeholder="Password"/><br/><br/>

    <input type="submit" value="Login"/>

    <a href="/api/v1/oauth/google-link?redirect={{ . }}">
      Log in with Google</a><br/>

    <a href="/recover/">I forgot my password</a><br/>
    <a href="/signup/">I don't have an account</a><br/>
  </form>
</div>
{{ end }}
