{{ block "content" . }}
<div>
  <form method="POST">
    <input type="email" name="email" placeholder="Email"/><br/><br/>

    <input type="submit" value="Send me a link"/><br/>
    <a href="/login/">I remember my password!</a><br/>
    <a href="/signup/">I don't have an account</a><br/>
  </form>
</div>
{{ end }}
