{{ block "content" . }}
<div>
  <form method="POST">
    <input type="email" name="email" placeholder="Email"/><br/>
    <input type="password" name="password" placeholder="Password"/><br/><br/>

    <input type="submit" value="Sign up"/>

    <a href="/api/v1/oauth/google-link?redirect={{ . }}">
      Sign up with Google</a><br/>

    <a href="/login/">I already have an account</a><br/>
  </form>
</div>
{{ end }}
