{{ block "content" . }}
<p>
  <a href="/logout">Log out</a>
</p>

<div id="view">
  <strong>Email:</strong> {{ .email }}<br/>
  <strong>Name:</strong> {{ .name }}<br/>
  <strong>Phone:</strong> {{ .phone }}<br/>
  <strong>Address:</strong> {{ .address }}<br/>

  <br/>
  <input type="button" value="Edit"/>
</div>

<div id="edit" style="display: none;">
  <form method="POST">
    <input type="email" name="email" placeholder="Email" value="{{ .email }}"/>
    <br/>

    <input type="password" name="password" placeholder="Password"/>
    <br/>

    <input type="text" name="name" placeholder="Name" value="{{ .name }}"/>
    <br/>

    <input type="text" name="phone" placeholder="Phone" value="{{ .phone }}"/>
    <br/>

    <input type="text" name="address" placeholder="Address"
           value="{{ .address }}"/>
    <br/>

    <br/>
    <input type="submit" value="Save"/>
    <input type="button" value="Cancel"/>
  </form>
</div>

<script>
  let view = document.querySelector('#view')
  let editBtn = view.querySelector('input[type="button"')
  let edit = document.querySelector('#edit')
  let viewBtn = edit.querySelector('input[type="button"')

  editBtn.addEventListener('click', () => {
    view.style.display = "none"
    edit.style.display = "block"
  })

  viewBtn.addEventListener('click', () => {
    edit.style.display = "none"
    view.style.display = "block"
  })
</script>
{{ end }}

